@charset "UTF-8";
/* CSS Document */
body{
  background: src("images/satower.jpg") no-repeat;
  background-size:cover;

}
#wrapper{
  width:900px;
  margin:@auto;
}
header{
  width:100%;
  height:100px

}
header h1{
  font-size: 50px
  font-family:sans-serif;
  font-weight: normal;
  font-style: normal;
  font-align: center;
  color:white;

}
Nav{
  width: 100%;
  text-align: center;
}
Nav ul{
  list-style-type:none;
  margin: 0;
  padding:0;
}
