@charset "UTF-8";
/* CSS Document */
body{
  align-items: center;
  background-image: url("images/satower.jpg");
  background-size:cover;


}
#wrapper{
  width:900px;
  margin:@auto;
}
header{
  width:100%;
  height:100px

}
header h1{
  font-size: 100px
  font-family:sans-serif;
  font-weight: 400px;
  font-style: normal;
  text-align: center;
  color:white;

}
nav{
  width: 100%;
  text-align: center;
}
nav ul{
  list-style-type:none;
  margin: 0;
  padding:0;
}

nav li{
  display: inline;
}
footer{
	text-align: center;
	clear:both;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";

}

nav a:link {
font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  color:rgba(25,25,25,.75);
  text-decoration: none;
  margin-right: 50px;
  text-align: center;

}

nav a:visited {

}

nav a:hover {
  color:rgba(104,104,104,1);
}

nav a:active {
  text-decoration: underline;
}

.left{
	width: 400px;
	float:left;
	margin-top:30px;


}

.right{
	width: 300px;
	float:right;
	margin-left: 5px;
	margin-top:30px;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 25px;
}
