@charset "UTF-8";
/* CSS Document */
body{
  align-items: center;
  background-image: url("images/satower.jpg");
  background-size:cover;


}
#wrapper{
  width: 100%;
  margin:@auto;
}
header{
  width:100%;
  height:100%;

}
header h1{
  font-size: 50px;
  font-family:'Bebas Neue', cursive;
  font-weight: 50px;
  font-style: normal;
  text-align: center;
  font-color: white;

}
nav{
  width: 100%;
  text-align: center;
}
nav ul{
  list-style-type:none;
  margin: 0;
  padding:0;
}

nav li{
  display: inline;
  font-family:'Bebas Neue', cursive; font-color: rgba(255, 255, 255, 0.5);
  font-size: 32px;
  text-align: center;
}
footer{
	text-align: center;
	clear:both;
	font-family:'Roboto', sans-serif;

}

nav a:link {
font-family:'Bebas Neue', cursive;  color: rgba(255, 255, 255);
  text-decoration: none;
  margin-right: 50px;
  text-align: center;

}

nav a:visited {

}

nav a:hover {
  color:rgba(104,104,104,1);
}

nav a:active {
  text-decoration: underline;
}

.left{
	width:400px;
	float:left;
	margin-top:30px;


}

.right{
	width: 400px;
	float:right;
	margin-left: 30px;
	margin-top:30px;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
}
